* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     overflow-x: hidden;
     background: #e0e0e0;
     font-family: sans-serif;
}


/* OWL CAROUSEL */
.owl-carousel .owl-item img  {
     width: 250px;
     height: 250px;
     object-fit: cover;
}


/* TESTIMONIAL SECTION */     
.testimonial {
     width: 70%;
     padding: 5%;
     display: flex;
     margin: 15% auto;
     color: #777777;
     border-radius: 5px;
     align-items: center;
     box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.testimonial img {
     margin-right: 25px;
     border-radius: 50%;
}

.testimonial h2 {
     font-size: 45px;
     margin-bottom: 15px;
}

.testimonial h3 {
     font-size: 25px;
     margin-bottom: 10px;
}

.testimonial p {
     font-size: 20px;
     font-weight: bold;
     color: #777777b3;
}


/* MOBILE RESPONSIVENESS  MAX-WIDTH: 1200PX*/
@media screen and (max-width: 1200px) {
     /* TESTIMONIAL SECTION */
     .testimonial {
          width: 90%;
     }
}


/* MOBILE RESPONSIVENESS  MAX-WIDTH: 900PX*/
@media screen and (max-width: 900px) {
     /* TESTIMONIAL SECTION */
     .testimonial {
          text-align: center;
          flex-direction: column;
     }

     .testimonial img {
          margin-bottom: 25px;
     }
}